<div class="flex items-center justify-center">
  <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div class="w-full max-w-xs text-center" *ngFor="let t of thumbnails; let i = index">
      <img
        class="object-cover object-center w-full h-48 mx-auto rounded-lg"
        src="{{host}}{{t.image.data.attributes.url}}"
      />
      <div class="mt-2">
        <h3 class="text-xl font-semibold text-gray-700 dark:text-gray-200">{{t.imageTitle}}</h3>
        <span class="mt-1 font-medium text-gray-600 dark:text-gray-300">{{t.imageSubTitle}}</span>
      </div>
    </div>
  </div>
</div>
