<nav
  class="relative w-full flex flex-wrap items-center justify-between bg-blue-800 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light"
>
  <div class="container-fluid h-18 py-2 w-full flex flex-wrap items-center justify-between px-6">
    <button
      class="navbar-toggler text-gray-200 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="bars"
        class="w-6"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
        ></path>
      </svg>
    </button>

    <!-- Mobile right menu -->
    <app-user-menu
      class="flex lg:hidden items-center "
    >
    </app-user-menu>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent1">
      <a class="text-xl text-white pr-2 font-semibold hidden lg:block" routerLink="/">Logo</a>

      <!-- Left links -->
      <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">

        <ng-container *ngFor="let item of _menuItems; let i = index">

          <li class="nav-item p-2" *ngIf="!item.menuAttached; else menuAttached">
            <a
              class="nav-link block cursor-pointer pr-2 lg:px-2 py-2 text-white opacity-60 hover:opacity-80 focus:opacity-80 transition duration-150 ease-in-out"
              (click)="handleMenuItemClick(item)"
            > {{ item.title }}</a
            >
          </li>

          <ng-template #menuAttached>
            <li class="nav-item p-2 dropdown static">
              <a class="nav-link block pr-2 lg:px-2 py-2 text-white opacity-60 hover:opacity-80 focus:opacity-80 transition duration-150 ease-in-out dropdown-toggle flex items-center whitespace-nowrap" href="#" data-mdb-ripple="true" data-mdb-ripple-color="light" type="button" id="dropdownMenuButtonZ" data-bs-toggle="dropdown"
                 aria-expanded="false">{{ item.title }}
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                </svg>
              </a>
              <div class="dropdown-menu w-full mt-0 hidden shadow-lg bg-white absolute left-0 top-full" aria-labelledby="dropdownMenuButtonZ">
                <div class="px-6 lg:px-8 py-5">
                  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
                    <div class="bg-white text-gray-600" *ngFor="let subItem of item.items; let i = index">
                      <ng-container *ngIf="subItem.related.type == 'section'">
                        <p class="block px-6 py-2 w-full uppercase font-semibold text-gray-700">{{subItem.title}}</p>
                        <ng-container *ngFor="let childItem of subItem.items; let i = index">
                          <a
                            (click)="handleMenuItemClick(childItem)"
                            aria-current="true"
                            class="cursor-pointer block px-6 py-2 w-full hover:bg-gray-50 hover:text-gray-700 transition duration-150 ease-in-out flex items-center">
                            {{childItem.title}}
                          </a>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ng-template>
        </ng-container>

      </ul>
      <!-- Left links -->

    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <app-user-menu
      class="items-center relative hidden lg:flex"
    >
    </app-user-menu>
  </div>
</nav>
