<div class="flex min-w-full min-h-full justify-center align-middle px-5 py-5 md:px-20 lg:px-40 lg:py-10">

  <app-loading-indicator
    *ngIf="loading; else loaded">
  </app-loading-indicator>

  <ng-template #loaded>
    <section class="container">
      <h2 class="mb-8 text-xl font-black capitalize md:text-2xl text-purple-600">{{ title}}</h2>

      <div [ngSwitch]="contentType">

        <div *ngSwitchCase="'api::page.page'">
          <div
            *ngIf="pageBody; else routeName"
            [innerHTML]="pageBody | safehtml"
            class="content">
          </div>
          <ng-template #routeName>
            <p>{{routeUrl}}</p>
          </ng-template>
        </div>

        <div *ngSwitchCase="'api::photo-gallery.photo-gallery'">
          <app-thumbnail-grid
            [thumbnails]="imageAssets">
          </app-thumbnail-grid>
        </div>

      </div>
    </section>
  </ng-template>

</div>
